/* stylelint-disable max-line-length */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&display=swap');

@font-face {
  font-family: line-seed-sans-th;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/LINESeedSansTH_W_Rg.woff2') format('woff2');
}

@font-face {
  font-family: line-seed-sans-th;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/LINESeedSansTH_W_Bd.woff2') format('woff2');
}

@font-face {
  font-family: line-seed-sans-th;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/LINESeedSansTH_W_XBd.woff2') format('woff2');
}
